In [126]:
import dsx_core_utils
import jaydebeapi
import pandas as pd

In [127]:
dataSource = dsx_core_utils.get_data_source_info('cloudera_impala')
conn = jaydebeapi.connect(dataSource['driver_class'], 
                              dataSource['URL'], 
                              [dataSource['user'], 
                               dataSource['password']])

In [128]:
q= 'Select * from edh_mcoe_hana_i.afih limit 10'
df = pd.read_sql(q,conn)

In [129]:
df.head()

,mandt,aufnr,artpr,priok,equnr,bautl,iloan,iloai,anlzu,iwerk,...,adpsp,rsupg,isdfps_objnr,isdfps_mequi,isdfps_mhio_addate,zz_slt_datetime,zz_slt_rec_deleted,isdfps_mhio_adtime,isdfps_usermode,uii
0,400,000410049865,14,2,,,000000215057,X,1,S503,...,,,None,None,None,2.018102e+13,,None,None,
1,400,000410050535,14,1,,,000000216197,X,0,S501,...,,,None,None,None,2.018102e+13,,None,None,
2,400,000410050950,14,4,,,000000217027,X,1,S505,...,,,None,None,None,2.018102e+13,,None,None,
3,400,000410051114,14,3,,,000000217355,X,0,S503,...,,,None,None,None,2.018102e+13,,None,None,
4,400,000410051205,14,3,,,000000217537,X,0,S503,...,,,None,None,None,2.018102e+13,,None,None,

In [130]:
p = 'select * from sw_mcoe_daa_conformed.meta_dependencies'
df2 = pd.read_sql(p,conn)
df2.head()

,database_name,table_name,source_database,source_table,table_comment,row_count,owner,tabletype,created_datetime,last_access_time
0,edh_mcoe_hana_i,bhp_mcoe_cv_iw39_work_order_perf_vw,edh_mcoe_hana_i,bhp_mcoe_cv_iw39_work_order_perf,,0,pa_akkip5,VIRTUAL_VIEW,Mon May 20 00:04:55 CDT 2019,UNKNOWN
1,edh_mcoe_hana_i,bseg_reduced,edh_mcoe_hana_i,bseg,,0,pa_akkip5,VIRTUAL_VIEW,Fri May 03 02:07:02 CDT 2019,UNKNOWN
2,edh_mcoe_hana_i,ekpo_reduced,edh_mcoe_hana_i,ekpo,,0,pa_akkip5,VIRTUAL_VIEW,Sun May 05 20:57:18 CDT 2019,UNKNOWN
3,edh_mcoe_hana_i,marc_reduced,edh_mcoe_hana_i,marc,,0,pa_akkip5,VIRTUAL_VIEW,Fri May 03 02:10:27 CDT 2019,UNKNOWN
4,edh_mcoe_pi_i,mcoe_whaleback_reclaimer_alarms_data_v,edh_mcoe_pi_i,mcoe_whaleback_reclaimer_data_parq,,0,pa_muthja5,VIRTUAL_VIEW,Sat Apr 13 08:44:35 CDT 2019,UNKNOWN

In [131]:
df2['Target'] = df2['database_name'] + "." + df2['table_name']
df2['Source'] = df2['source_database'] + "." + df2['source_table']
df2.head(3)

,database_name,table_name,source_database,source_table,table_comment,row_count,owner,tabletype,created_datetime,last_access_time,Target,Source
0,edh_mcoe_hana_i,bhp_mcoe_cv_iw39_work_order_perf_vw,edh_mcoe_hana_i,bhp_mcoe_cv_iw39_work_order_perf,,0,pa_akkip5,VIRTUAL_VIEW,Mon May 20 00:04:55 CDT 2019,UNKNOWN,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order_pe...,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order_perf
1,edh_mcoe_hana_i,bseg_reduced,edh_mcoe_hana_i,bseg,,0,pa_akkip5,VIRTUAL_VIEW,Fri May 03 02:07:02 CDT 2019,UNKNOWN,edh_mcoe_hana_i.bseg_reduced,edh_mcoe_hana_i.bseg
2,edh_mcoe_hana_i,ekpo_reduced,edh_mcoe_hana_i,ekpo,,0,pa_akkip5,VIRTUAL_VIEW,Sun May 05 20:57:18 CDT 2019,UNKNOWN,edh_mcoe_hana_i.ekpo_reduced,edh_mcoe_hana_i.ekpo

In [132]:
newdata = df2[['Source', 'Target']]
newdata['label'] = 'is used to create'
newdata.head()

newdata.to_csv('~/DSX_Projects/my_python_hub/datasets/Relationship.csv')

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [133]:
import pandas as pd

pd.read_csv('Relationship.csv')

,Unnamed: 0,Source,Target,label
0,0,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order_perf,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order_pe...,is used to create
1,1,edh_mcoe_hana_i.ekpo,edh_mcoe_hana_i.ekpo_reduced,is used to create
2,2,edh_mcoe_pi_i.mcoe_whaleback_reclaimer_data_parq,edh_mcoe_pi_i.mcoe_whaleback_reclaimer_alarms_...,is used to create
3,3,edh_mcoe_hana_i.bhp_mcoe_cv_ih06_functional_lo...,sw_mcoe.assetmap,is used to create
4,4,edh_mcoe_hana_i.iflos,sw_mcoe.assetmap,is used to create
5,5,edh_mcoe_hana_i.iflot,sw_mcoe.assetmap,is used to create
6,6,edh_mcoe_hana_i.iflotx,sw_mcoe.assetmap,is used to create
7,7,edh_mcoe_hana_i.bhp_mcoe_cv_ih06_functional_lo...,sw_mcoe.bau_busph2_flocs_included,is used to create
8,8,edh_mcoe_hana_i.makt,sw_mcoe.bau_busph2_flocs_included,is used to create
9,9,sw_mcoe.assetmap,sw_mcoe.bau_busph2_flocs_included,is used to create
10,10,sw_mcoe.bau_cv_ih06_functional_location_curren...,sw_mcoe.bau_busph2_flocs_included,is used to create
11,11,sw_mcoe.flocbreakdownmfr,sw_mcoe.bau_busph2_flocs_included,is used to create
12,12,sw_mcoe_daa_raw.functional_locations_ih06_mobi...,sw_mcoe.bau_busph2_flocs_included,is used to create
13,13,edh_mcoe_hana_i.bhp_mcoe_cv_ih06_functional_lo...,sw_mcoe.bau_busph2_mainstrat,is used to create
14,14,edh_mcoe_hana_i.bhp_mcoe_cv_ip18_maintenance_i...,sw_mcoe.bau_busph2_mainstrat,is used to create
15,15,edh_mcoe_hana_i.bhp_mcoe_cv_ip24_maintenance_s...,sw_mcoe.bau_busph2_mainstrat,is used to create
16,16,edh_mcoe_hana_i.jest,sw_mcoe.bau_busph2_mainstrat,is used to create
17,17,edh_mcoe_hana_i.makt,sw_mcoe.bau_busph2_mainstrat,is used to create
18,18,edh_mcoe_hana_i.mpla,sw_mcoe.bau_busph2_mainstrat,is used to create
19,19,edh_mcoe_hana_i.t024i,sw_mcoe.bau_busph2_mainstrat,is used to create
20,20,edh_mcoe_hana_i.tj02t,sw_mcoe.bau_busph2_mainstrat,is used to create
21,21,sw_mcoe.assetmap,sw_mcoe.bau_busph2_mainstrat,is used to create
22,22,sw_mcoe.bau_cv_ih06_functional_location_curren...,sw_mcoe.bau_busph2_mainstrat,is used to create
23,23,sw_mcoe.flocbreakdownmfr,sw_mcoe.bau_busph2_mainstrat,is used to create
24,24,sw_mcoe.floclevel,sw_mcoe.bau_busph2_mainstrat,is used to create
25,25,sw_mcoe_daa_raw.functional_locations_ih06_mobi...,sw_mcoe.bau_busph2_mainstrat,is used to create
26,26,edh_mcoe_hana_i.bhp_mcoe_cv_ih06_functional_lo...,sw_mcoe.bau_busph2_notdata,is used to create
27,27,edh_mcoe_hana_i.bhp_mcoe_cv_iw29_notification_vw,sw_mcoe.bau_busph2_notdata,is used to create
28,28,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order_vw,sw_mcoe.bau_busph2_notdata,is used to create
29,29,edh_mcoe_hana_i.bhp_mcoe_cv_iw69_notification_...,sw_mcoe.bau_busph2_notdata,is used to create
...,...,...,...,...
869,869,edh_mcoe_hana_i.ausp,sw_mcoe_daa_conformed.material_mappings_1sap_gsap,is used to create
870,870,edh_mcoe_hana_i.cabn,sw_mcoe_daa_conformed.material_mappings_1sap_gsap,is used to create
871,871,edh_mcoe_hana_i.iflos,sw_mcoe_daa_conformed.measurements_1sap,is used to create
872,872,edh_mcoe_hana_i.iflot,sw_mcoe_daa_conformed.measurements_1sap,is used to create
873,873,edh_mcoe_hana_i.iflotx,sw_mcoe_daa_conformed.measurements_1sap,is used to create
874,874,edh_mcoe_hana_i.imptt,sw_mcoe_daa_conformed.measurements_1sap,is used to create
875,875,edh_mcoe_hana_i.imrg,sw_mcoe_daa_conformed.measurements_1sap,is used to create
876,876,sw_mcoe_daa_conformed.meta_column,sw_mcoe_daa_conformed.meta_column_occurrences,is used to create
877,877,edh_mcoe_hana_i.bhp_mcoe_cv_ih06_functional_lo...,sw_mcoe_daa_conformed.operation_asset_mappings,is used to create
878,878,edh_mcoe_hana_i.iflos_av,sw_mcoe_daa_conformed.operation_asset_mappings,is used to create
879,879,edh_mcoe_hana_i.iflot_av,sw_mcoe_daa_conformed.operation_asset_mappings,is used to create
880,880,edh_mcoe_hana_i.iflotx_av,sw_mcoe_daa_conformed.operation_asset_mappings,is used to create
881,881,edh_mcoe_hana_i.aufk_av,sw_mcoe_daa_conformed.work_order_components_1sap,is used to create
882,882,edh_mcoe_hana_i.makt_av,sw_mcoe_daa_conformed.work_order_components_1sap,is used to create
883,883,edh_mcoe_hana_i.mara_av,sw_mcoe_daa_conformed.work_order_components_1sap,is used to create
884,884,edh_mcoe_hana_i.resb,sw_mcoe_daa_conformed.work_order_components_1sap,is used to create
885,885,edh_mcoe_hana_i.afko,sw_mcoe_daa_conformed.work_order_operations_1sap,is used to create
886,886,edh_mcoe_hana_i.afvc,sw_mcoe_daa_conformed.work_order_operations_1sap,is used to create
887,887,edh_mcoe_hana_i.bhp_mcoe_cv_iw37n_work_order_o...,sw_mcoe_daa_conformed.work_order_operations_1sap,is used to create
888,888,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order_av,sw_mcoe_daa_conformed.work_order_operations_1sap,is used to create
889,889,edh_mcoe_hana_i.afih,sw_mcoe_daa_conformed.work_orders_1sap,is used to create
890,890,edh_mcoe_hana_i.afko,sw_mcoe_daa_conformed.work_orders_1sap,is used to create
891,891,edh_mcoe_hana_i.aufk,sw_mcoe_daa_conformed.work_orders_1sap,is used to create
892,892,edh_mcoe_hana_i.bhp_mcoe_cv_iw39_work_order,sw_mcoe_daa_conformed.work_orders_1sap,is used to create
893,893,edh_mcoe_hana_i.jest,sw_mcoe_daa_conformed.work_orders_1sap,is used to create
894,894,edh_mcoe_hana_i.pmco,sw_mcoe_daa_conformed.work_orders_1sap,is used to create
895,895,edh_mcoe_pds_extract_c.final_pds_wear_manageme...,sw_mcoe_daa_raw.belt_changeout_dst_belt_thickn...,is used to create
896,896,sw_mcoe_daa_raw.belt_changeout_dst_belt_wear_e...,sw_mcoe_daa_raw.belt_changeout_dst_belt_thickn...,is used to create
897,897,sw_mcoe_daa_raw.belt_changeout_dst_belt_wear_m...,sw_mcoe_daa_raw.belt_changeout_dst_belt_thickn...,is used to create
898,898,sw_mcoe.vw_tasklistcost,sw_mcoe_daa_raw.test_prem,is used to create

In [134]:
m= 'select * from sw_mcoe_daa_conformed.meta_column'
df1 = pd.read_sql(m,conn)

df1.column_name.unique()
    
df1.column_name.nunique(dropna =True) 

df1.table_name.nunique(dropna =True)

1456

In [135]:
df1.head(5)

,column_name,database_name,table_name,primary_key,column_type,required,column_comment,table_comment,row_count,table_owner,table_type,created_datetime,last_access_time
0,/bev1/srfund,edh_mcoe_hana_i,vbap,False,string,False,,,0,sa-dmpaedhpdwrtsap@ENT.BHPBILLITON.NET,EXTERNAL_TABLE,Tue May 21 01:25:48 CDT 2019,UNKNOWN
1,/mrss/datachange,edh_mcoe_hana_i,equi,False,string,False,,,0,sa-dmpaedhpdwrtsap@ENT.BHPBILLITON.NET,EXTERNAL_TABLE,Fri May 31 01:18:33 CDT 2019,UNKNOWN
2,/mrss/id_profile,edh_mcoe_hana_i,equi,False,string,False,,,0,sa-dmpaedhpdwrtsap@ENT.BHPBILLITON.NET,EXTERNAL_TABLE,Fri May 31 01:18:33 CDT 2019,UNKNOWN
3,/mrss/prof_guid,edh_mcoe_hana_i,equi,False,binary,False,,,0,sa-dmpaedhpdwrtsap@ENT.BHPBILLITON.NET,EXTERNAL_TABLE,Fri May 31 01:18:33 CDT 2019,UNKNOWN
4,/mrss/prof_key,edh_mcoe_hana_i,equi,False,string,False,,,0,sa-dmpaedhpdwrtsap@ENT.BHPBILLITON.NET,EXTERNAL_TABLE,Fri May 31 01:18:33 CDT 2019,UNKNOWN

In [136]:
df1['req_table'] = df1['database_name'] + '.' + df1['table_name']

In [137]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
...                            'two'],
...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
...                    'baz': [1, 2, 3, 4, 5, 6],
...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [138]:
df.pivot( columns='bar', values='baz')

bar    A    B    C
0    1.0  NaN  NaN
1    NaN  2.0  NaN
2    NaN  NaN  3.0
3    4.0  NaN  NaN
4    NaN  5.0  NaN
5    NaN  NaN  6.0

In [139]:
reqData = df1[['column_name', 'req_table']]


reqData.head()

reqData

reqData.to_csv('~/DSX_Projects/my_python_hub/datasets/columns_properties.csv')

In [140]:
pd.pivot?

In [141]:
# #try_pivot= pivot_data.pivot(index= 'pivot_table', columns = 'column_name', values = 'column_name')

# newpivot = reqData.pivot(index= 'column_name', columns = 'req_table' , values = 'req_table')

newpivot = reqData.pivot(columns = 'req_table' , values = 'column_name')

# #try_pivot.head()
# newpivot

In [142]:
newpivot.head()

req_table,edh_mcoe_hana_i.a812,edh_mcoe_hana_i.a812_av,edh_mcoe_hana_i.a812_new,edh_mcoe_hana_i.adrc,edh_mcoe_hana_i.adrc_av,edh_mcoe_hana_i.adrc_new,edh_mcoe_hana_i.afab,edh_mcoe_hana_i.afab_av,edh_mcoe_hana_i.afab_new,edh_mcoe_hana_i.affh,...,sw_mcoe_daa_conformed.work_orders_1sap_snapshot,sw_mcoe_daa_raw.belt_changeout_dst_belt_thickness_tests_pds,sw_mcoe_daa_raw.belt_changeout_dst_belt_wear_exclusions_pds,sw_mcoe_daa_raw.belt_changeout_dst_belt_wear_missing_fields_pds,sw_mcoe_daa_raw.functional_locations_ih06_mobile_fixed_rail_classification,sw_mcoe_daa_raw.project_scopes,sw_mcoe_daa_raw.psatest,sw_mcoe_daa_raw.sap_table_recency,sw_mcoe_daa_raw.sapdatasheet_entries,sw_mcoe_daa_raw.test_prem
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
newpivot['edh_mcoe_hana_i.a812'].dropna()

11133                 datab
11170                 datbi
23256                 kappl
24244                 knumh
24806                 kschl
29258                 mandt
62884       zz_slt_datetime
63806    zz_slt_rec_deleted
65101             zzcus_act
65104            zzcus_grp3
65107            zzcus_grp4
65218               zzkkber
Name: edh_mcoe_hana_i.a812, dtype: object

In [144]:
pd.pivot_table(reqData, values='req_table', 
                    columns='column_name')

DataError: No numeric types to aggregate